*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url('side-image.jpg') ;
    background-repeat: no-repeat;
    background-position: center right;
    background-size:auto 107vh;
    height:93vh;
    background-color: #191816;
}
header{
    background-color: #24221F;
    padding: 10px;
    display: flex;
    flex-direction:row;
    height: 7vh;
    width: auto;
    position: inherit;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
}
header a .img{
    max-width: 100%;
    height: 100%;
    float:right;
    
}
/*.img:hover{
    height:120%;
    transition: 0.2s;
}*/
header nav ul li{
    color: #AFB6C2;
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    float: left;
}
.menu li:hover{
    transition: 0.3s;
    font-size: 25px;
}
.menu a{
    text-decoration: none;  
    color:#AFB6C2;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 a:active a:hover {
    background-color: #AFB6C2;
    text-decoration: none;
    color: inherit;
    }
.out_div{
    height: 93vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    
}
.login{
    margin-top: 18vh;
    border: #24221F solid 2px;
    width: 572px;
    height: 512px;
    background-color:#24221F;
    border-radius: 10px;
}
.login .text_login h2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D4CCB6;
    font-size: 30px;
}
.login .text_login p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D4CCB6;
    font-size: 15px;
}
.text_login{
    margin-top: 40px;
}
.form{
    display: flex;
    padding: 0 90px;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 50px;
    justify-items: center;
    
}
.form form label{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #D4CCB6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.form form input{
    height: 5vh;
    width: 15vw;
    min-width: 15vw;
    border:#D4CCB6 solid 3px ;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #24221F;
    color: #D4CCB6;
}
input::placeholder{
    color:#D4CCB6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*input[type=email]::placeholder{
    padding-left: 10px;
}*/
input{
    padding-left: 30px;
}
input[type=email]:placeholder-shown{
    padding-left: 25px;
    background-image: url('mail.svg');
    background-repeat: no-repeat;
    background-position: left;
}
input[type=email]:hover{
    background-image: url('mail-focus.svg');
    background-repeat: no-repeat;
    align-items: center;
}

input[type=password]:placeholder-shown{
    padding-left: 25px;
    background-image: url('lock.svg');
    background-repeat: no-repeat;
    background-position: left;
}
input[type=password]:hover{
    background-image: url('lock-focus.svg');
    background-repeat: no-repeat;
    
}
.form form input:hover{
    transition: 0.2s;
    border: #FFC632 solid 5px;
    box-sizing: border-box;
    color:#FFC632;
}.form form input:focus{
    transition: 0.2s;
    border: #FFC632 5px;
    box-sizing: border-box;
}
button{
    margin-top: 2vh;
    height: 5vh;
    width: 15vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color:#24221F;
    background-color: #FFC632;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
button:hover{
    background-color: #ffc532c4;
    color:#24221F;
    transition: 0.2s;
    
}

